.container {
    max-width: 400px;
    width: 100%;
}

.code {
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
}

.code input {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    font-size: 3rem;
}

.code button {
    position: absolute;
    right: 34px;
    top: 10px;
    background: none;
    border: 1px solid grey;
    border: none;
    font-size: 28px;
    padding: 0;
}

.numpad__container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
.numpad__container li {
    flex: 0 0 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.numpad__container button {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: none;
    background-color: #E5E5E5;
    font-size: 1.7rem;
    color: #1F1F1F;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0;
}

.numpad__container button:active {
    background-color: #bfbfbf;
}

.text__blur {
    color: transparent;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.secrets li {
    background-color: #eeeeee;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    color: #3e3e3e;
    cursor: pointer;
}