.container {
    max-width: 400px;
    width: 100%;
}

.numpad {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.numpad__container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
  
.numpad__container li {
    flex: 0 0 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.numpad__container button {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: none;
    background-color: #E5E5E5;
    font-size: 1.7rem;
    color: #1F1F1F;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.numpad__container button:active {
    background-color: #bfbfbf;
}

.text__blur {
    color: transparent;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.secrets li {
    background-color: #e2e2e2;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    color: #3e3e3e;
    cursor: pointer;
}